/* The entire form */
#quickdraw_mapping_form {
  margin-left: 15px;
}

/* Widget selector */
#quickdraw_suds_selector {
  float: left;
  display: block;
  clear: left;
}

/* The list of nodes */
#quickdraw_mapping_content_type_list {
  float: left;
  clear: left;
  display: inline;
  width: 50%;
}
#quickdraw_mapping_content_type_list select {
  width: 100%;
}

/* The list of fields for the node */
#quickdraw_mapping_list {
  float: left;
  display: inline;
  width: 50%;
}
#quickdraw_mapping_list select {
  width: 100%;
}

/* add pair */
#quickdraw_mapping_add_pair {
  clear: left;
}
/* input field */
#quickdraw_mapping_correspondence_name {
  /*float: left;*/
  display: inline;
}
/* add button */
#quickdraw_mapping_add_button {
  float: left;
  display: inline;
}

/* The list of mappings */
#quickdraw_mapping_correspondence_list {
  clear: left;
  float: left;
  display inline;
  width: 50%;
}
#quickdraw_mapping_correspondence_list select {
  width: 100%;
}
/* delete button */
#quickdraw_mapping_del_button {
  clear: left;
  float: left;
  display: inline;
}

/* preview section */
/* field */
#quickdraw_mapping_preview_input {
  float: left;
  clear: left;
  display: block;
}
/* button */
/* result */
#quickdraw_mapping_preview {
  clear: left;
  float: left;
  display: block;
}
